<template>
  <li>
    <router-link to="/development" @click.native="closeNav()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.32 19.9">
      <title>dev-icon</title>
        <polygon points="7.13 3.91 0 9.62 0 10.4 7.13 16.1 7.75 15.32 1.11 10.01 7.75 4.69 7.13 3.91"/>
        <polygon points="20.8 3.6 20.18 4.38 27.21 10.01 20.18 15.63 20.8 16.41 28.32 10.4 28.32 9.62 20.8 3.6"/>
        <rect x="3.2" y="9.45" width="21.33" height="1" transform="translate(-0.86 18.58) rotate(-66.04)"/>
      </svg>
      <span>Development</span>
    </router-link>
  </li>
</template>

<script>
import EventBus from '@/event-bus';
export default {
  data(){
    return {
      navOpen: false,
    }
  },
  methods: {
    closeNav() {
      this.navOpen = false;
      EventBus.$emit('navClose', this.navOpen)
    }
  }
};
</script>