<template>
  <li>
    <router-link to="/graphic-design" v-on:click.native="closeNav()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.82 28.82">
        <title>graphic-icon</title>
        <path d="M14.14,19.44l9.38,9.38,5.3-5.3-9.38-9.38,5.41-5.42.84-.84,1-1a3.25,3.25,0,0,0-4.6-4.59l-1,1-.84.84-10,10L1.41,5.3,5.3,1.41l2,2L5.49,5.16l.71.71L8,4.09l3,3L9.2,8.86l.7.71,1.78-1.78,2.46,2.46.7-.71L5.3,0,0,5.3l9.54,9.54L2,22.4l0,0-.4-.07L.52,28.46l6.11-1.08L6.56,27v0Zm6.94-2.24L19.31,19l.71.7,1.77-1.77,3,3L23,22.68l.71.71,1.78-1.78,1.9,1.91L23.52,27.4l-8.68-8.67,3.89-3.89ZM22.85,3A2.25,2.25,0,0,1,26,3a2.25,2.25,0,0,1,0,3.18L25,7.18,21.8,4Zm-2.3,2.29,3.18,3.18L6.57,25.58,3.39,22.4Zm-18.8,22,.76-4.29L6,26.47Z"/>
      </svg>
      <span>Graphic Design</span>
    </router-link>
  </li>
</template>

<script>
import EventBus from '@/event-bus';
export default {
  data(){
    return {
      navOpen: false,
    }
  },
  methods: {
    closeNav() {
      this.navOpen = false;
      EventBus.$emit('navClose', this.navOpen)
    }
  }
};
</script>