<template>
  <li>
    <router-link to="/photography" @click.native="closeNav()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.98 22.15">
        <title>photo-icon</title>
        <path d="M19.69,3.15,18.2,0H9.78L8.29,3.15H0v19H28v-19Zm7.29,18H1v-17H8.92l.27-.57L10.41,1h7.16l1.22,2.58.27.57H27Z"/>
        <path d="M7.09,5.33H2.17v2.9H7.09Zm-1,1.9H3.17v-.9H6.09Z"/>
        <path d="M14,5.74a6.91,6.91,0,1,0,6.9,6.91A6.91,6.91,0,0,0,14,5.74Zm0,12.81a5.91,5.91,0,1,1,5.9-5.9A5.91,5.91,0,0,1,14,18.55Z"/>
        <path d="M14,8.23a4.42,4.42,0,1,0,4.42,4.42A4.42,4.42,0,0,0,14,8.23Zm0,7.84a3.42,3.42,0,1,1,3.42-3.42A3.42,3.42,0,0,1,14,16.07Z"/>
      </svg>
      <span>Photography</span>
    </router-link>
  </li>
</template>

<script>
import EventBus from '@/event-bus';
export default {
  data(){
    return {
      navOpen: false,
    }
  },
  methods: {
    closeNav() {
      this.navOpen = false;
      EventBus.$emit('navClose', this.navOpen)
    }
  }
};
</script>