<template>
  <li>
    <router-link to="/ui-design" @click.native="closeNav()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
         <title>ui</title>
         <path d="M8.75,0H0V28H28V0ZM1,27V1H7.75V27Zm26,0H8.75V1H27Z"/>
         <path d="M25.26,3.76H11.45V9H25.26ZM24.26,8H12.45V4.76H24.26Z"/>
         <path d="M25.26,25.62V11.8H11.45V25.62ZM12.45,12.8H24.26V24.62H12.45Z"/>
         <path d="M4.38,2.06a2.31,2.31,0,1,0,2.3,2.31A2.3,2.3,0,0,0,4.38,2.06Zm0,3.61a1.31,1.31,0,1,1,1.3-1.3A1.3,1.3,0,0,1,4.38,5.67Z"/>
         <path d="M4.38,9a2.31,2.31,0,1,0,2.3,2.31A2.31,2.31,0,0,0,4.38,9Zm0,3.62a1.31,1.31,0,1,1,1.3-1.31A1.31,1.31,0,0,1,4.38,12.61Z"/>
      </svg>
      <span>UI Design</span>
    </router-link>
  </li>
</template>

<script>
import EventBus from '@/event-bus';
export default {
  data(){
    return {
      navOpen: false,
    }
  },
  methods: {
    closeNav() {
      this.navOpen = false;
      EventBus.$emit('navClose', this.navOpen)
    }
  }
};
</script>