<template>
  <li>
    <router-link to="/web-design" @click.native="closeNav()">
      <svg id="web-icon" data-name="web-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
        <title>web-icon</title>
        <path d="M28,14A14,14,0,1,1,14,0,14,14,0,0,1,28,14Zm-1,0A13,13,0,1,0,14,27,13,13,0,0,0,27,14Z" transform="translate(0 0)"/>
        <path d="M15.82,15.94a2.61,2.61,0,0,0,.64-2.6L23,5.12l-8.22,6.49a2.59,2.59,0,0,0-3.24,3.24L5,23.07l8.22-6.49A2.61,2.61,0,0,0,15.82,15.94Z" transform="translate(0 0)"/>
      </svg>
      <span>Web Design</span>
    </router-link>
  </li>
</template>

<script>
import EventBus from '@/event-bus';
export default {
  data(){
    return {
      navOpen: false,
    }
  },
  methods: {
    closeNav() {
      this.navOpen = false;
      EventBus.$emit('navClose', this.navOpen)
    }
  }
};
</script>