<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 63.65" fill="#000000"><path class="cls-1" d="M47.79,31.24h7A27.1,27.1,0,0,0,55,27.5a27.5,27.5,0,0,0-55,0c0,.13,0,.26,0,.38H0V63.65H13.49V51.15A27.48,27.48,0,0,0,54.06,34.62H40.48a14.8,14.8,0,0,1-27-2.33V31.24ZM27.5,12.69a14.83,14.83,0,0,1,14,10.09H13.47A14.83,14.83,0,0,1,27.5,12.69Z"/></svg>
</template>
    
  <script lang="ts">
    export default {
      name: 'TablerLogo'
    }
  </script>