<template>
    <div class="container" v-bind:class="{ 'nav-active': navOpen }">
        <Navbar></Navbar>
        <NuxtLayout>
            <NuxtPage></NuxtPage>
        </NuxtLayout>
        <Footer></Footer>
    </div>
</template>

<style>
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
</style>

<script setup lang="ts">
  const navOpen = navState();

  useHead({
    title: 'Eric Parks.com',
    titleTemplate: (titleChunk) => {
      return titleChunk ? `Eric Parks.com - ${titleChunk}` : null;
    }
    // meta: [
    //     { 
    //       name: 'description', 
    //       content: 'Portfolio site for UI Designer Eric Parks.' 
    //     }
    // ]
  })

</script>