<template>
<footer>
  <h3>Connect</h3>
  <a href="https://www.linkedin.com/in/eric-parks-436ab981" aria-label="Linkedin" target="_blank">
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
  </a>
  <a href="https://www.instagram.com/eric_m_parks/" aria-label="Instagram" target="_blank">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>
  <a href="mailto:ericmparks@gmail.com" aria-label="Email" target="_blank">
    <i class="fa fa-envelope" aria-hidden="true"></i>
  </a>
  <!-- <a href="https://www.facebook.com/ericmparks" aria-label="Facebook" target="_blank">
    <i class="fa fa-facebook-square" aria-hidden="true"></i>
  </a> -->

</footer>
</template>

<script>
export default {
};
</script>
<style lang="scss" scoped>
footer {
  padding: 4rem 2rem 2rem 2rem;
  font-size: 2.2rem;
  line-height: 1;
  h3 {
    display: inline-block;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    margin-top: 0;
    font-weight: 300;
    text-transform: uppercase;
  }
  a {
    color: $grayDark;
    padding: 0 .7rem;
    line-height: 1;
    margin: 0 .5rem;
    border-radius: .4rem;
    align-self: center;
    &:hover {
      background: $colorOne;
    }
  }
  .home-page & {
    color: $white;
    a {
      color: $white;
    }
  }
   @include breakpoint(md-down) {
    font-size: 1.5rem;
    text-align: center;
    h3 {
      font-size: 1.5rem;
      margin: 0 0 1rem 0;
      display: block;
    }
  }
}
</style>
