<template>
  <div>
    <div class="mobile-nav">
      <a class="hamburger" v-on:click="toggleNav()">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
      </a>
    </div>
    <nav  aria-label="Main navigation" role="navigation" @mouseenter="openNav()" @mouseleave="closeNav()" v-bind:class="{ active: navOpen }">
      <router-link class="home-nav hide-mobile" to="/" @click.native="closeNav()">
        <transition name="logoswap" mode="out-in">
          <img class="logo" alt="Logo" v-bind:src="navLogo" v-bind:key="navLogo" />
        </transition> 
      </router-link>

      <transition-group tag="ul" name="fade" appear>
        <li key="home-link" class="hide-desktop">
          <router-link to="/" v-on:click.native="closeNav()">
            <img class="logo" alt="Logo" v-bind:src="homeIcon"  />
            <span>Home</span>
          </router-link>
        </li>
        <UiLink key="ui-link" />
        <DevLink key="dev-link" />
        <WebLink key="web-link" />
        <GraphicLink key="graphic-link" />
        <PhotoLink key="photo-link" />
      </transition-group>
    </nav>
  </div>
</template>

<script>
import EventBus from '@/event-bus';
import UiLink from "@/components/nav-items/ui-link.vue";
import DevLink from "@/components/nav-items/dev-link.vue";
import GraphicLink from "@/components/nav-items/graphic-link.vue";
import PhotoLink from "@/components/nav-items/photo-link.vue";
import WebLink from "@/components/nav-items/web-link.vue";

export default {
  name: "Navbar",
  components: {
    UiLink,
    WebLink,
    DevLink,
    GraphicLink,
    PhotoLink
  },
  data(){
    return {
      navOpen: false,
      navLogo: '/img/logo.svg',
      homeIcon: '/img/home-icon.svg'
    }
  },
  methods: {
    toggleNav() {
      this.navOpen = !this.navOpen
      EventBus.$emit('navToggle', this.navOpen)
    },
    openNav() {
      this.navOpen = true;
      this.navLogo = this.homeIcon;
      EventBus.$emit('navOpen', this.navOpen)
    },
    closeNav() {
      this.navOpen = false;
      this.navLogo = '/img/logo.svg';
      EventBus.$emit('navClose', this.navOpen)
    }
  }
};
</script>

<style lang="scss">
nav {
   width: $navWidth;
   position: fixed;
   left: 0;
   top: 0;
   background: $gray;
   color: $white;
   overflow: hidden;
   transition: width .5s ease;
   z-index: 500;
   @include mediumFont;
   .home-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem auto;
      padding: 1rem;
      color: $white;
      .logo {
         height: 2.8rem;
      }
   }
   a {
      color: $white;
      white-space: nowrap;
      display: flex;
      align-content: center;
      align-items: center;
      padding: 1.5rem 1.4rem;
      background: transparent;
      box-shadow: none;
      transition: all .6s ease;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      @include regularFont;
      svg {
         width: 1.5rem;
         height: auto;
         flex-shrink: 0;
         fill: $white;
         transition: all .6s;
      }
      &:focus {
         outline: none;
         border-top-color: $grayDark;
         border-bottom-color: rgba($white, .2);
         box-shadow: inset 0 8px 6px -6px rgba($black, .5);
      }
      &:hover {
         background: $gray;
         border-top-color: $grayDark;
         border-bottom-color: rgba($white, .2);
         box-shadow: inset 0 8px 6px -6px rgba($black, .5);
         svg {
            fill: $colorOne;
         }
      }
   }
   ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
         margin: 0;
         padding: 0;
         span {
            opacity: 0;
            margin-left: .5rem;
            transition-delay: .1s;
         }
         &:nth-child(2) span {
            transition-delay: .15s;
         }
         &:nth-child(3) span {
            transition-delay: .2s;
         }
         &:nth-child(4) span {
            transition-delay: .25s;
         }
         &:nth-child(5) span {
            transition-delay: .3s;
         }
      }
   }
   .nav-active & {
      width: $navWidthOpen;
      background: $grayLight;
      overflow: visible;
      ul li {
         span {
            opacity: 1;
         }
      }
   }
}

@include breakpoint(md-down) {
   nav {
      width: 0;
      height: 100%;
      padding-top: 4rem;
      backdrop-filter: blur(10px);
      a {
         font-size: 1.5rem;
         justify-content: center;
         @include regularFont;
         padding: 1rem 0;
         img {
            width: 1.5rem;
            height: auto;
            flex-shrink: 0;
         }
      }
      ul li {
         transition: opacity;
         opacity: 0;
         transition-delay: .1s;
         &:nth-child(2) {
            transition-delay: .15s;
         }
         &:nth-child(3) {
            transition-delay: .2s;
         }
         &:nth-child(4) {
            transition-delay: .25s;
         }
         &:nth-child(5) {
            transition-delay: .3s;
         }
      }
      .nav-active & {
         width: 100%;
         li {
            width: initial;
            opacity: 1;
         }
      }
   }
   .mobile-nav {
      background: $grayDark;
      width: 40px;
      height: 40px;
      position: fixed;
      top: 0;
      left: 0;
      padding: 9px 8px 8px 7px;
      z-index: 505;
      display: block;
   }
   .hamburger {
      width: 26px;
      height: 23px;
      top: 0;
      left: 0;
      // transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;
      display: block;
      position: relative;
      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $white;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 9px;
        }
        &:nth-child(4) {
          top: 18px;
        }
      }
      .nav-active & span {
        background: $white;
        &:nth-child(1) {
          top: 9px;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: 9px;
          width: 0%;
          left: 50%;
        }
      }
   }
}

@include breakpoint(md) {
   .mobile-nav {
      display: none;
   }
   nav:after {
      content: "";
      display: block;
      position: fixed;
      height: 100%;
      z-index: 499;
      background: transparent;
      transition: all .5s ease;
      width: $navWidth;
      pointer-events: none;
      .nav-active & {
         display: block;
         background: $grayLight;
         width: $navWidthOpen;
         pointer-events: initial;
      }
   }
}
</style>
