<template>
  <footer>
    <div class="footer-container">
      <div class="footer-left">
        <div class="social">
            <a href="https://www.linkedin.com/in/eric-parks-436ab981" aria-label="Linkedin" target="_blank">
            <IconsLinkedin />
          </a>
          <a href="https://www.instagram.com/eric_m_parks/" aria-label="Instagram" target="_blank">
            <IconsInstagram />
          </a>
          <a href="mailto:ericmparks@gmail.com" aria-label="Email" target="_blank">
            <IconsMail />
          </a>
        </div>
        <ul>
          <li key="footerLink">
              <NuxtLink class="link" to="/" v-on:click="closeNav()">Home</NuxtLink>
          </li>
          <li key="footerLink">
              <NuxtLink class="link" to="/ui-design" @click="closeNav()">UI Design</NuxtLink>
          </li>
          <li key="footerLink">
              <NuxtLink class="link" to="/web-design" @click="closeNav()">Web Design</NuxtLink>
          </li>
          <li key="footerLink">
              <NuxtLink class="link" to="/development" @click="closeNav()">Development</NuxtLink>
          </li>
          <li key="footerLink">
              <NuxtLink class="link" to="/graphic-design" @click="closeNav()">Graphic Design & 3D</NuxtLink>
          </li>
          <li key="footerLink">
              <NuxtLink class="link" to="/photographry" @click="closeNav()">Photography</NuxtLink>
          </li>
          <li key="footerLink">
              <a class="link" href="mailto:ericmparks@gmail.com" aria-label="Email" target="_blank">Contact</a>
          </li>
        </ul>
      </div>
      <div class="footer-logo">
        <NuxtLink to="/" @click="closeNav()">
          <IconsLogo />
        </NuxtLink>
      </div>
    </div>
  </footer>
</template>

<script setup>
  const navOpen = navState()

  function closeNav() {
    this.navOpen = false;
  }
</script>

<style lang="scss" scoped>
footer {
  margin: 2rem 0 0 0;
  padding: 1rem 0;
  .footer-container {
    width: 100%;
    border-top: 1px solid $black;
    display: flex;
    line-height: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
  }
  a {
    color: $black;
    width: fit-content;
  }
  .footer-left {
    display: flex;
    .social {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin: .3rem 1rem 0 0;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    ul {
      list-style: none;
      margin: 0 0 0 1rem;
      padding: 0;
      li {
        line-height: 1.5;
      }
    }
  }
  .footer-logo {
    display: flex;
    width: fit-content;
    svg {
      width: 40px;
    }
  }
   @include breakpoint(lg) {
    margin-left: 0;
    .footer-left {
      width: initial;
      .social {
        flex-direction: row;
        a {
          margin-right: .5rem;
        }
      }
      ul {
        display: inline-flex;
        margin: 0;
        li {
          margin-left: 1rem;
        }
      }
    }
   }
}
</style>