<template>
  <div>
    <div class="mobile-nav">
      <a class="hamburger" @click="navOpen = !navOpen">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
      </a>
    </div>

    <nav aria-label="Main navigation" role="navigation" @mouseenter="navOpen=true" @mouseleave="navOpen=false" v-bind:class="{ active: navOpen }">
      <NuxtLink class="home-nav hide-mobile" to="/" @click="navOpen=false">
         <img class="logo" alt="Logo" src="/img/logo.svg" key="Nav Logo" />
      </NuxtLink>
      <transition-group tag="ul" class="nav-ul" name="fade" appear>
         <li key="home-link" class="hide-desktop">
            <NuxtLink to="/" v-on:click="navOpen=false">
               <img class="logo" alt="Logo" src="/img/home-icon.svg"  />
               <span>Home</span>
            </NuxtLink>
         </li>
         <li key="navlink">
            <NuxtLink to="/ui-design" @click="navOpen=false">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
                  <title>ui</title>
                  <path d="M8.75,0H0V28H28V0ZM1,27V1H7.75V27Zm26,0H8.75V1H27Z"/>
                  <path d="M25.26,3.76H11.45V9H25.26ZM24.26,8H12.45V4.76H24.26Z"/>
                  <path d="M25.26,25.62V11.8H11.45V25.62ZM12.45,12.8H24.26V24.62H12.45Z"/>
                  <path d="M4.38,2.06a2.31,2.31,0,1,0,2.3,2.31A2.3,2.3,0,0,0,4.38,2.06Zm0,3.61a1.31,1.31,0,1,1,1.3-1.3A1.3,1.3,0,0,1,4.38,5.67Z"/>
                  <path d="M4.38,9a2.31,2.31,0,1,0,2.3,2.31A2.31,2.31,0,0,0,4.38,9Zm0,3.62a1.31,1.31,0,1,1,1.3-1.31A1.31,1.31,0,0,1,4.38,12.61Z"/>
               </svg>
               <span>UI Design</span>
            </NuxtLink>
         </li>
         <li key="navlink">
            <NuxtLink to="/web-design" @click="navOpen=false">
               <svg id="web-icon" data-name="web-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
                  <title>web-icon</title>
                  <path d="M28,14A14,14,0,1,1,14,0,14,14,0,0,1,28,14Zm-1,0A13,13,0,1,0,14,27,13,13,0,0,0,27,14Z" transform="translate(0 0)"/>
                  <path d="M15.82,15.94a2.61,2.61,0,0,0,.64-2.6L23,5.12l-8.22,6.49a2.59,2.59,0,0,0-3.24,3.24L5,23.07l8.22-6.49A2.61,2.61,0,0,0,15.82,15.94Z" transform="translate(0 0)"/>
               </svg>
               <span>Web Design</span>
            </NuxtLink>
         </li>
         <li key="navlink">
            <NuxtLink to="/development" @click="navOpen=false">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.32 19.9">
                  <title>dev-icon</title>
                  <polygon points="7.13 3.91 0 9.62 0 10.4 7.13 16.1 7.75 15.32 1.11 10.01 7.75 4.69 7.13 3.91"/>
                  <polygon points="20.8 3.6 20.18 4.38 27.21 10.01 20.18 15.63 20.8 16.41 28.32 10.4 28.32 9.62 20.8 3.6"/>
                  <rect x="3.2" y="9.45" width="21.33" height="1" transform="translate(-0.86 18.58) rotate(-66.04)"/>
               </svg>
               <span>Development</span>
            </NuxtLink>
         </li>
         <li key="navlink">
            <NuxtLink to="/graphic-design" @click="navOpen=false">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.82 28.82">
                  <title>graphic-icon</title>
                  <path d="M14.14,19.44l9.38,9.38,5.3-5.3-9.38-9.38,5.41-5.42.84-.84,1-1a3.25,3.25,0,0,0-4.6-4.59l-1,1-.84.84-10,10L1.41,5.3,5.3,1.41l2,2L5.49,5.16l.71.71L8,4.09l3,3L9.2,8.86l.7.71,1.78-1.78,2.46,2.46.7-.71L5.3,0,0,5.3l9.54,9.54L2,22.4l0,0-.4-.07L.52,28.46l6.11-1.08L6.56,27v0Zm6.94-2.24L19.31,19l.71.7,1.77-1.77,3,3L23,22.68l.71.71,1.78-1.78,1.9,1.91L23.52,27.4l-8.68-8.67,3.89-3.89ZM22.85,3A2.25,2.25,0,0,1,26,3a2.25,2.25,0,0,1,0,3.18L25,7.18,21.8,4Zm-2.3,2.29,3.18,3.18L6.57,25.58,3.39,22.4Zm-18.8,22,.76-4.29L6,26.47Z"/>
               </svg>
               <span>Graphic Design</span>
            </NuxtLink>
         </li>
         <li key="navlink">
            <NuxtLink to="/photography" @click="navOpen=false">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.98 22.15">
                  <title>photo-icon</title>
                  <path d="M19.69,3.15,18.2,0H9.78L8.29,3.15H0v19H28v-19Zm7.29,18H1v-17H8.92l.27-.57L10.41,1h7.16l1.22,2.58.27.57H27Z"/>
                  <path d="M7.09,5.33H2.17v2.9H7.09Zm-1,1.9H3.17v-.9H6.09Z"/>
                  <path d="M14,5.74a6.91,6.91,0,1,0,6.9,6.91A6.91,6.91,0,0,0,14,5.74Zm0,12.81a5.91,5.91,0,1,1,5.9-5.9A5.91,5.91,0,0,1,14,18.55Z"/>
                  <path d="M14,8.23a4.42,4.42,0,1,0,4.42,4.42A4.42,4.42,0,0,0,14,8.23Zm0,7.84a3.42,3.42,0,1,1,3.42-3.42A3.42,3.42,0,0,1,14,16.07Z"/>
               </svg>
               <span>Photography</span>
            </NuxtLink>
         </li>
      </transition-group>
    </nav>
  </div>
</template>

<script setup>
   const navOpen = navState()
   // console.log(navOpen);
</script>

<style lang="scss" scoped>
nav {
   width: $navWidth;
   position: fixed;
   left: 0;
   top: 0;
   background: $black;
   color: $white;
   overflow: hidden;
   transition: width .5s ease;
   z-index: 500;
   @include mediumFont;
   .home-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem auto;
      padding: 1rem;
      color: $white;
      .logo {
         height: 2.8rem;
         content: url("/img/logo.svg");
         animation: pageInKey .3s; 
      }
   }
   a {
      color: $white;
      white-space: nowrap;
      display: flex;
      padding: 1.5rem 1.4rem;
      background: transparent;
      box-shadow: none;
      transition: all .6s ease;
      @include regularFont;
      svg {
         width: 1.5rem;
         height: auto;
         flex-shrink: 0;
         fill: $white;
         transition: all .6s;
      }
      &:focus {
         outline: none;
         box-shadow: inset 0 8px 6px -6px rgba($black, .5);
      }
      &:hover {
         background: $gray;
         box-shadow: inset 0 8px 6px -6px rgba($black, .5);
         svg {
            fill: $colorOne;
         }
      }
      // &.router-link-active {
      //    color: lime;
      //    svg {
      //       fill: lime;
      //    }
      // }
   }
   ul.nav-ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
         span {
            opacity: 0;
            margin-left: .5rem;
            transition-delay: .1s;
         }
         &:nth-child(2) span {
            transition-delay: .15s;
         }
         &:nth-child(3) span {
            transition-delay: .2s;
         }
         &:nth-child(4) span {
            transition-delay: .25s;
         }
         &:nth-child(5) span {
            transition-delay: .3s;
         }
         &:nth-child(6) span {
            transition-delay: .3s;
         }
      }
   }
   .nav-active & {
      width: $navWidthOpen;
      background: $black;
      overflow: visible;
      .logo {
         height: 2.8rem;
         content: url("/img/home-icon.svg");
         animation: logo-in .3s;  
         // animation: pageInKey 2s; 
      }
      ul li {
         span {
            opacity: 1;
         }
      }
   }
}

@include breakpoint(md-down) {
   nav {
      width: 0;
      height: 100%;
      padding-top: 4rem;
      backdrop-filter: blur(10px);
      a {
         font-size: 1.5rem;
         @include regularFont;
         padding: 1rem 0 1rem 0;
         display: flex;
         align-items: center;
         justify-content: center;
         line-height: 1;
         .logo {
            width: 1.5rem;
            height: 28px;
            flex-shrink: 0;
         }
      }
      ul li {
         transition: opacity;
         opacity: 0;
         transition-delay: .1s;
         &:nth-child(2) {
            transition-delay: .15s;
         }
         &:nth-child(3) {
            transition-delay: .2s;
         }
         &:nth-child(4) {
            transition-delay: .25s;
         }
         &:nth-child(5) {
            transition-delay: .3s;
         }
      }
      .nav-active & {
         width: 100%;
         li {
            width: initial;
            opacity: 1;
         }
         a {
            .logo {
               height: 28px;
            }
         }
      }
   }
   .mobile-nav {
      background: $black;
      width: 40px;
      height: 40px;
      position: fixed;
      top: 0;
      left: 0;
      padding: 9px 8px 8px 7px;
      z-index: 505;
      display: block;
      .nav-active & {
         background-color: $colorThree;
      }
   }
   .hamburger {
      width: 26px;
      height: 23px;
      top: 0;
      left: 0;
      // transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;
      display: block;
      position: relative;
      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $white;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 9px;
        }
        &:nth-child(4) {
          top: 18px;
        }
      }
      .nav-active & span {
        background: $white;
        &:nth-child(1) {
          top: 9px;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: 9px;
          width: 0%;
          left: 50%;
        }
      }
   }
}

@include breakpoint(md) {
   .mobile-nav {
      display: none;
   }
   nav:after {
      content: "";
      display: block;
      position: fixed;
      height: 100%;
      z-index: 499;
      background: transparent;
      transition: all .5s ease;
      width: $navWidth;
      pointer-events: none;
      .nav-active & {
         display: block;
         background: $black;
         width: $navWidthOpen;
         pointer-events: initial;
      }
   }
}
</style>