<template>
    <div class="temp-padding">
        <h1>Portfolio Entry test</h1>
        <h2>Entry {{ $route.params.entry }}</h2>
        <p>{{ $route.params.entry.slug }}</p>
    </div>
</template>

<script setup>
    const nuxt = useNuxtApp();
    const route = useRoute();
    console.log(route.params.entry)
</script>

<style lang="scss" scoped>
.temp-padding {
    padding-left: 100px;
}
</style>