<template>
    <main class="portfolio">
        <h1>Portfolio</h1>
        <p>This page is a work in progress.</p>
        <!-- <div class="portfolio-item" v-for="(entry, index) in entries" :key="index">
            <div class="portfolio-image">
                <img v-if="entry.metadata.image.url"  :src="entry.metadata.image.url" :alt="entry.metadata.name">
                <img v-if="entry.metadata.image_two.url" :src="entry.metadata.image_two.url" :alt="entry.metadata.name">
                <video v-if="entry.metadata.video.url" controls>
                    <source :src="entry.metadata.video.url" type="video/mp4">
                    Sorry, your browser does not support inline video.
                </video>
            </div>
            <div class="portfolio-info">
                <h2>{{entry.metadata.name}}</h2>
                <p>{{entry.metadata.description}}</p>
                <h3>My Role:</h3>
                <p>{{entry.metadata.role}}</p>
                <a class="port-link link" v-if="entry.metadata.url" :href="entry.metadata.url" target="_blank" rel="noreferrer">
                    {{entry.metadata.url_title}}
                </a>
            </div>
        </div>  -->
    </main>

</template>

<script setup>
    definePageMeta({
        layout: 'portfolio-layout'
    })
    
    // Fetch UI Design Entries
    // const { data : entries, pending } = await useLazyFetch('https://api.cosmicjs.com/v2/buckets/ep-content/objects?pretty=true&query=%7B%22type%22%3A%22uidesign-entries%22%7D&read_key=cMgnCNnQOGptSikuN8l67ogwfLjRwyRJ0ybukMCpyFs6pw7HRz', {
    //     transform: (_entries) => _entries.objects
    // });
    // console.log(toRaw(entries.value))
</script>
<style lang="scss" scoped>

</style>