<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>My Age is: {{age}}</h2>
    <button @click="addAge(1)">Add a Year</button>
    <button @click="subAge(1)">Subtract a Year</button><br><br>
    <button @mouseover="addAge(10)">Add 10 Years</button>
    <button @mouseover="subAge(10)">Subtract 10 Year</button><br><br>
    <br>
    <input class="input" type="text" v-model="welcomeMsg"> 
    <br/><br/>
    <button @click="changeMsg">Change</button>

    <div id="canvas" @mousemove="updateXY">{{x}}, {{y}}</div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        welcomeMsg: "",
        age: 42,
        x: 0,
        y: 0
      }
    },
    props: {
      msg: String,
    },
    methods: {
      changeMsg() {
        this.$emit("changeMsg", this.welcomeMsg);
        console.log('message emit from child component')
      },
      addAge(inc) {
        this.age += inc;
        console.log('Age Method Firing');
      },
      subAge(dec) {
        this.age -= dec;
      },
      updateXY(event) {
        this.x = event.offsetX;
        this.y = event.offsetY;
      }
    }
  };
</script>

<style>
#canvas {
  width: 400px;
  height: 400px;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
