// Logo Swap
.logoswap-enter-active {
   animation: logo-in .3s;
}
.logoswap-leave-active {
   animation: logo-in .3s reverse;
}
@keyframes logo-in {
   0% {
      transform: scale(.4);
   }

   50% {
      transform: scale(1.1);
   }

   100% {
      transform: scale(1);
   }
}