@import 'variables.scss';
@import 'portfolio.scss';
@import 'animations.scss';
// @import 'animate.scss';

h1 {
  @include headerFont;
}

h2 {
  line-height: 1.4;
  @include regularFont;
}

.page-title {
  font-size: 2rem;
  border-bottom: 1px solid $black;
  @include headerFont;
  border-left: 1rem solid $black;
  background: rgba($colorOne, .8);
  padding: 1rem;
  position: fixed;
  width: 100%;
  margin: 0 0 0 1rem;
  line-height: 1.4;
  z-index: 400;
  transition: all .5s ease;
  backdrop-filter: blur(10px);
  @include breakpoint(md-down) {
    border-left: none;
    padding: 0 0 0 2rem;
    font-size: 1.7rem;
    height: 2.5rem;
  }
  .nav-active & {
    transform: translateX(8.5rem);
  }
}

h3 {
  font-size: 2rem;
  margin: 2rem 0 0 0;
  line-height: 1.2;
  @include headerFont;
}

h4 {
  font-size: 1rem;
  margin: 2rem 0 0 0;
  line-height: 1.2;
  @include boldFont;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $linkColor;
  transition: all .3s ease-in-out;
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px 1px $linkColor;
  }
}

a.link {
  display: flex;
  width: fit-content;
  padding: .2rem;
  color: $black;
  svg {
    height: 20px;
    width: 20px;
    margin-right: .3rem;
  }
  &:hover {
    background-color: $linkColor;
  }
  &.none {
    color: $grayLight;
    cursor: default;
  }
}
ul {
  margin: 0;
  padding: 0
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
  padding: 0 .5rem;
  margin: 0 auto;
  @include breakpoint(md) {
    padding-left: $navWidth;
  }
  .home & {
    margin: 0 auto;
    max-width: 1500px;
  }
}

main {
  min-height: 100vh;
  transform: initial;
  transition: transform .5s ease, padding .5s ease;
  min-height: 100vh;
  &.portfolio {
    padding: 6rem 0 0 1rem;
  }
  &.home {
    padding: 0 0 0 1rem;
  }
  .nav-active & {
    transform: translateX(8.5rem);
  }
  @include breakpoint(md-down) {
    &.portfolio {
      padding: 2rem 0 0 0;
    }
    &.home {
      padding: 0;
    }
  }
}