 .portfolio {
   img {
     width: 100%;
   }
   .portfolio-item {
     margin-bottom: 3rem;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     .portfolio-image {
       width: 70%;
       padding: 1rem;
       background-color: $black;
       video {
         margin-top: 2.5rem;
         width: 100% !important;
         height: auto !important;
         background: $grayDark;    
         &:focus {
            outline: none;
          }
       }
     }
     &.photography {
        text-align: center;
        .portfolio-image {
          width: 100%;
          max-width: 1000px;
          margin: 0 auto;
          display: flex;
          align-items: center;
        }
     }
      .portfolio-info {
        width: 30%;
        padding: 1rem;
        background-color: $colorOne;
        color: $grayDark;
        border: 1px solid $black;
        border-left: none;
        h2 {
          @include boldFont;
          font-size: 1.2rem;
          margin-bottom: 0;
          color: $black;
        }
        h4 {
          @include boldFont;
          margin: 2rem 0 0 0;
        }
        p {
          margin: 0 0 1rem 0;
          padding: 0;
        }
        a {
          margin-left: -.2rem;
        }
     }
   }  
   @include breakpoint(lg-down) {
     padding: 4rem 0 0 0;
     .portfolio-item {
       margin: 0;
       padding: 1.5rem 0;
       display: block;
       .portfolio-image {
          width: 100%;
       }
       .portfolio-info {
         width: 100%;
         background-color: $black;
         color: $white;
         h2, h4, a {
          color: $white;
         }
       }
     } 
   }
 }