// ------------------------------------------------------------
// Site Variables & Imports
// ------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@200;500;600&display=swap');

// Color Definitions
$white:         #ffffff;
$black:         #000000;
$grayDark:      #242424;
$gray:          #343434;
$grayLight:     #464646;
$grayLighter:   #B5B5B5;
$grayLightest:  #F8F8F8;

$colorOne:      #fffdf1;
$colorTwo:      #fadeaa;
$colorThree:    #946611;
$linkColor:     #FFCB67;


// Misc Variables & Mixins
$navWidth: 4.5rem;
$navWidthOpen: 11rem;

// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------
$fontSans: 'Inter', sans-serif !default;
$fontSerif: 'DM Serif Display', serif;

@mixin regularFont {
  font-family: $fontSans;
  font-weight: 200;
}

@mixin mediumFont {
  font-family: $fontSans;
  font-weight: 500;
}

@mixin boldFont {
  font-family: $fontSans;
  font-weight: 600;
}

@mixin headerFont {
  font-family: $fontSerif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  letter-spacing: .1px;
  background: $colorOne;
  // background-attachment: fixed;
  @include regularFont;
  color: $black;
}

// Breakpoints
@mixin breakpoint($point) {
  @if $point==xxl {
    @media (min-width: 1500px) {
      @content;
    }
  }

  @if $point==xl {
    @media (min-width: 1280px) {
      @content;
    }
  }

  @else if $point==lg {
    @media (min-width: 1024px) {
      @content;
    }
  }

  @else if $point==md {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $point==sm {
    @media (min-width: 400px) {
      @content;
    }
  }

  @else if $point==lg-only {
    @media (min-width: 1024px) and (max-width: 1279px) {
      @content;
    }
  }

  @else if $point==lg-down {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @else if $point==md-down {
    @media (max-width: 767px) {
      @content;
    }
  }

  @else if $point==sm-down {
    @media (max-width: 400px) {
      @content;
    }
  }
}

// Misc Mixins & helpers
.hide {
  display: none !important;
}

.hide-mobile {
  @include breakpoint(md-down) {
    display: none !important;
  }
}

.hide-desktop {
  @include breakpoint(md) {
    display: none !important;
  }
}