<template>
    <main class="portfolio">
        <h1>Development</h1>
        <div class="portfolio-item" v-for="(item, index) in items" :key="index">
            <div class="portfolio-image">
                <img v-if="item.metadata.image.url"  :src="item.metadata.image.url" :alt="item.metadata.name">
                <img v-if="item.metadata.image_two.url" :src="item.metadata.image_two.url" :alt="item.metadata.name">
            </div>
            <div class="portfolio-info">
                <h2>{{item.metadata.name}}</h2>
                <p>{{item.metadata.description}}</p>
                <h3 v-if="item.metadata.role">My Role:</h3>
                <p v-if="item.metadata.role">{{item.metadata.role}}</p>
                <h3 v-if="item.metadata.tech">Tech Used:</h3>
                <p v-if="item.metadata.tech">{{item.metadata.tech}}</p>
                <a class="port-link link" v-if="item.metadata.url" :href="item.metadata.url" target="_blank" rel="noreferrer">
                    {{item.metadata.url_title}}
                </a>
            </div>
        </div>
        <Footer></Footer>
    </main>
</template>

<script>
    import axios from 'axios';
    import { setupCache } from 'axios-cache-adapter'
    import Footer from "@/components/Footer";
    export default {
        components: {
            Footer
        },
        data() {
            return {
                items: null
            }
        },
        created() {
            // Cached API Call
            const cache = setupCache({
                maxAge: 15 * 60 * 1000
            })
            const api = axios.create({
                adapter: cache.adapter
            })
            api({
                url: `${process.env.VUE_APP_SPACE}/objects?type=development-entries&read_key=${process.env.VUE_APP_KEY}&limit=20&props=slug,title,metadata`,
                method: 'get'
            }).then(async (response) => {
                // console.log('Request response:', response);
                this.items = response.data.objects
            })
        }
    };
</script>