<template>
  <main class="home">
    <div class="inner-home">
      <section class="hero">
        <div class="hi color-fade">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 655 500">
            <rect width="126" height="500"/>
            <rect x="329" width="126" height="500"/>
            <rect x="97" y="203" width="260" height="92"/>
            <rect x="529" y="193" width="126" height="307"/>
            <rect x="529" width="126" height="126"/>
          </svg>
        </div>
        <div class="headline">
          <h1>{{ items.headline }}</h1>
        </div>
      </section>
      <section class="bottom">
        <div class="text">
          <div class="do">
            <h2 v-html="items.do_headline"></h2>
            <p>{{ items.do_content }}</p>
          </div>
          <div class="dont">
            <h3 v-html="items.dont_headline"></h3>
            <p>{{ items.dont_content }}</p>
          </div>
        </div>
        <div class="connect">
          <h3>Connect</h3>
          <a href="https://www.linkedin.com/in/eric-parks-436ab981" aria-label="Linkedin" target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
          <!-- <a href="https://www.facebook.com/ericmparks" aria-label="Facebook" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a> -->
          <a href="https://www.instagram.com/eric_m_parks/" aria-label="Instagram" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
          <a href="mailto:ericmparks@gmail.com" aria-label="Email" target="_blank">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </div>
      </section>

    </div>
  </main>
</template>

<script>
import axios from 'axios';
import EventBus from '@/event-bus';

export default {
  data(){
    return {
      items: ''
    }
  },
  created() {
    axios
    .get(`${process.env.VUE_APP_SPACE}/object/home-page?&read_key=${process.env.VUE_APP_KEY}&props=slug,title,metadata`)
    .then(response => (this.items = response.data.object.metadata))
  },
  mounted() {
    EventBus.$emit('homeCheck', this.isHome = true)
  },
  destroyed() {
    // Timeout has to match speed of the .pageIn/Out classes
    setTimeout(() => { 
      EventBus.$emit('homeCheck', this.isHome = false)
    }, 800)
  }
}; 
</script>

<style lang="scss" scoped>
@mixin vertical-center  {
  display: flex;
  flex-direction: column;
  justify-content: center;
} 
.home {
  padding: 0;
  h1 {
    font-size: 1.5rem;
    line-height: 1.3;
  }
  h2 {
    font-size: 2.8rem;
    font-weight: 200;
  }
  h3 {
    font-size: 2.4rem;
    font-weight: 200;
  }
  .inner-home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .hero {
    .hi {
      padding: 5rem 2em 2rem 2rem;
      width: 60vw;
      width: 100%;
      padding-top: 5rem;
      background: $grayDark;
      svg {
        fill: $white;
      }
    }
    .headline {
      background: $white;
      color: $gray;
      padding: 2rem 4rem;
      @include vertical-center;
    }
  }
  .bottom {
    .do {
      padding: 2rem 1rem;
      color: $white;
      background: $gray;
      @include vertical-center;
      min-height: 40vh;
      text-align: center;
    }
    .dont {
      color: $gray;
      background: $white;
      @include vertical-center;
      padding: 2rem 1rem;
      text-align: center;
    }
    .connect {
      color: $white;
      background: $grayLight;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-evenly;
      a {
        color: $white;
        font-size: 3rem;
        padding: 1rem;
        line-height: 1;
        border-radius: .4rem;
        align-self: center;
        &:hover {
          background: $linkColor;
        }
      }
    }
  }

  @include breakpoint(md) {
    .hero {
      .hi {
        padding-left: 6rem;
      }
      .headline {
        padding-left: 6rem;
      }
    }
    .bottom {
      .do, .dont {
        padding-left: 6rem;
      }
    }
  }

  @include breakpoint(lg) {
    padding: 1rem;
    h1 {
      font-size: 1.6rem;
      line-height: 1.6;
    }
    h2 {
      font-size: 6rem;
      margin-bottom: 2rem;
    }
    h3 {
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
    .hero {
      display: flex;
      flex-direction: row;
      .hi {
        flex: 0 0 65%;
        padding: 6rem 6rem 6rem calc(#{$navWidth} + 3rem);
      }
      .headline {
        flex: 0 0 35%;
      }
    }
    .bottom {
      display: flex;
      flex: 1;
      .text {
        flex: 0 0 65%;
      }
      .do {
        padding: 7rem 4rem;
      }
      .dont {
        padding: 2rem 4rem;
      }
      .connect {
        flex: 0 0 35%;
        justify-content: center;
      }
    }
  }
  @include breakpoint(xl) {
    h1 {
      font-size: 2rem;
      line-height: 1.8;
    }
    h2 {
      font-size: 6rem;
    }
    h3 {
      font-size: 3.5rem;
    }
  }

  @include breakpoint(xxl) {
    h1 {
      font-size: 2.5rem;
      line-height: 2.1;
    }
  }
}

.color-fade {
   animation: colorFade 10s;
   animation-delay: 4s;
}

@keyframes colorFade {
   0% {
      background-color: $grayDark;
   }
   25% {
      background-color: $colorOne;
   }
   50% {
      background-color: $colorTwo
   }
   75% {
      background-color: $colorThree;
   }
}

</style>