<template>
    <main class="portfolio">
        <h1>Photography</h1>
        <div class="portfolio-item photography" v-for="(item, index) in items" :key="index">
            <div class="portfolio-image">
                <img v-if="item.metadata.image.url"  :src="item.metadata.image.url" :alt="item.metadata.name">
            </div>
        </div>
        <Footer></Footer>
    </main>
</template>

<script>
import axios from 'axios';
import { setupCache } from 'axios-cache-adapter'
import Footer from "@/components/Footer";
export default {
    components: {
        Footer
    },
    data(){
        return {
            items: null
        }
    },
    created() {
        // Cached API Call
        const cache = setupCache({
            maxAge: 15 * 60 * 1000
        })
        const api = axios.create({
            adapter: cache.adapter
        })
        api({
            url: `${process.env.VUE_APP_SPACE}/objects?type=photography-entries&read_key=${process.env.VUE_APP_KEY}&limit=20&props=slug,title,metadata`,
            method: 'get'
        }).then(async (response) => {
            // console.log('Request response:', response);
            this.items = response.data.objects
        })
    }
};
</script>
