<template>
    <div>
        <!-- Output Page Content-->
        <div>
            <slot />
        </div>
        <div>This is the portfolio layout</div>
    </div>
</template>

<script setup>

</script>