<template>
<div>
    <h1 class="page-title">Development</h1>
    <main class="portfolio">
        <div class="portfolio-item" v-for="(entry, index) in entries" :key="index">
            <div class="portfolio-image">
                <img v-if="entry.metadata.image.url"  :src="entry.metadata.image.url" :alt="entry.metadata.name">
                <img v-if="entry.metadata.image_two.url" :src="entry.metadata.image_two.url" :alt="entry.metadata.name">
            </div>
            <div class="portfolio-info">
                <h2>{{entry.metadata.name}}</h2>
                <p>{{entry.metadata.description}}</p>
                <h4 v-if="entry.metadata.role">My Role:</h4>
                <p v-if="entry.metadata.role">{{entry.metadata.role}}</p>
                <h4 v-if="entry.metadata.tech">Tech Used:</h4>
                <p v-if="entry.metadata.tech">{{entry.metadata.tech}}</p>
                <a class="port-link link" v-if="entry.metadata.url" :href="entry.metadata.url" target="_blank" rel="noreferrer">
                    <IconsLink /> {{entry.metadata.url_title}}
                </a>
            </div>
        </div>
    </main>
</div>
</template>

<script setup>
    // definePageMeta({
    //     layout: 'portfolio-layout'
    // })

    // Fetch UI Design Entries
    const { data : entries } = await useFetch('https://api.cosmicjs.com/v2/buckets/ep-content/objects?pretty=true&query=%7B%22type%22%3A%22development-entries%22%7D&read_key=cMgnCNnQOGptSikuN8l67ogwfLjRwyRJ0ybukMCpyFs6pw7HRz&limit=20&props=slug,title,content,metadata,', {
        transform: (_entries) => _entries.objects
    });

    useHead({
        bodyAttrs: {
            class: 'development'
        },
        title: 'Development'
    })
</script>