<template>
  <main class="home">
    <section class="hero">
      <h1 v-html="items.headline"></h1>
      <h2>{{ items.subhead }}</h2>
      <div class="dodont">
        <div class="do">
          <h3>{{ items.do_headline }}</h3>
          <p>{{ items.do_content }}</p>
        </div>
        <div class="dont">
          <h3>{{ items.dont_headline }}</h3>
          <p>{{ items.dont_content }}</p>
        </div>
      </div>
    </section>
    <section class="featured">
      <h2 class="featured-title">Featured Project</h2>
      <div v-for="(item, index) in items.featured_projects" :key="index">
        <div class="featured-project">
          <img v-if="item.image.url" :src="item.image.url" :alt="item.name">
          <div class="featured-description">
            <div class="description">
              <h4>{{ item.project_title }}</h4>
              <p>{{ item.project_description }}</p>
            </div>
            <div class="link">
              <a class="featured-link" v-if="item.project_link" :href="item.project_link" rel="noreferrer">
                  {{ item.project_link_title }} <img src="/img/arrow.svg" alt="arrow">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script setup>
    // Fetch Home Page Content
    const { data : items } = await useFetch('https://api.cosmicjs.com/v1/ep-content/object/home-page?&read_key=cMgnCNnQOGptSikuN8l67ogwfLjRwyRJ0ybukMCpyFs6pw7HRz&props=slug,title,metadata', {
        transform: (_items) => _items.object.metadata
    });

    useHead({
        bodyAttrs: {
            class: 'home'
        },
        title: 'Home'
    })

    //console.log(toRaw(items.value));
    // const helloWorld = () => console.log('Hello World');
    // helloWorld();

</script>

<style lang="scss" scoped>
.hero {
  h1 {
    font-size: 4rem;
    line-height: .9;
    margin: 0;
    padding: 4rem 0 0 0;
    padding-bottom: 1rem;
    border-bottom: 6px solid $black;
    box-shadow: inset -100px 16px 0 -20px $colorTwo;
  }
  h2 {
    font-size: 1.5rem;
    padding: 1rem 1rem 0 0;
    margin: 0;
    box-shadow: inset -100px 16px 0 -20px $colorTwo;
  }
  .dodont {
    margin-top: 5rem;
    p {
      padding: 0 2rem 0 0;
      display: inline-block;
        padding: 0;
        margin: 0;
    }
    .do {
      padding: 0 0 0 3rem;
      display: flex;
      position: relative;
      h3 {
        width: auto;
        display: inline-block;
        transform: translate(0,0) rotate(-90deg);
        white-space: nowrap;
        margin: 50px -55px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .dont {
      margin-top: 3rem;
      h3 {
        margin: 0;
      }
    }
  }
}

.featured {
  margin-top: 5rem;
  .featured-title {
    font-size: 2rem;
    border-bottom: 1px solid $black;
    @include headerFont;
    border-left: 1rem solid $black;
    padding-left: 1rem;
  }
  img {
    max-width: 100%;
  }
  .featured-project {
    margin-bottom: 4rem;
  }
  .featured-description {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
    h4 {
      margin: 0;
    }
    p {
      margin-top: .5rem;
    }
  }
  .featured-link {
    white-space: nowrap;
    color: $black;
    font-weight: 500;
    &:hover {
      background-color: $linkColor;
    }
  }
}

@include breakpoint(md) {
  .hero {
    box-shadow: inset -200px 16px 0 -20px $colorTwo;
    h1 {
      box-shadow: none;
    }
    h2 {
      box-shadow: none;
    }
    .dodont {
      padding-right: 2rem;
      .dont {
        margin-top: 5rem;
      }
    }
    p {
      font-size: 110%;
    }
  }
}

@include breakpoint(lg) {
  .hero {
    box-shadow: inset -300px 16px 0 -20px $colorTwo;
    h1 {
      padding: 2rem 0;
      margin: 0 2rem 0 0;
      font-size: 8rem;
      border-bottom: 8px solid $black;
      box-shadow: none;
    }
    h2 {
      padding-right: 2rem
    }
    .dodont {
      display: flex;
      flex-direction: row;
      .do {
        width: 40%;
      }
      .dont {
        width: 40%;
        padding-left: 2rem;
        margin-top: 0;
      }
    }
  }

  .featured {
    .description {
      max-width: 60%;
    }

  }
}

@include breakpoint(xl) {
  .hero {
    padding-right: 2rem;
    h1 {
      font-size: 9rem;
    }

  }
}
@include breakpoint(xxl) {
  .hero {
    padding-right: 5rem;
  }
  h1 {
    font-size: 10rem;
  }
}
</style>