<template>
<div>
    <h1 class="page-title">Photography</h1>
    <main class="portfolio">
        <div class="portfolio-item photography" v-for="(entry, index) in entries" :key="index">
            <div class="portfolio-image">
                <img v-if="entry.metadata.image.url" :src="entry.metadata.image.url" :alt="entry.metadata.name">
            </div>
        </div>
    </main>
</div>
</template>

<script setup>
    // definePageMeta({
    //     layout: 'portfolio-layout'
    // })

    useHead({
        bodyAttrs: {
            class: 'photography'
        },
        title: 'Photography'
    })

    // Fetch UI Design Entries
    const { data : entries } = await useFetch('https://api.cosmicjs.com/v2/buckets/ep-content/objects?pretty=true&query=%7B%22type%22%3A%22photography-entries%22%7D&read_key=cMgnCNnQOGptSikuN8l67ogwfLjRwyRJ0ybukMCpyFs6pw7HRz&limit=20&props=slug,title,content,metadata,', {
        transform: (_entries) => _entries.objects
    });
</script>

<style lang="scss" scoped>

</style>