<template>
    <div class="test-wrapper">
        <p>Value: {{ value ? 'ON' : 'OFF' }}</p>
        <button @click="toggle()">
            Toggle
        </button>
        <button @click="value = true">
            Set ON
        </button>
        <button @click="value = false">
            Set OFF
        </button>

        <p>Current color: {{ color }}</p>
        <button @click="color='blue'">Change Color</button>

        <p>Nav State: {{ navOpen }}</p>
        <button @click="navOpen=true">Open Nav True</button>
        <button @click="navOpen=false">Open Nav false</button>
    </div>
</template>

<script setup>
    import { useToggle } from '@vueuse/core'
    const [value, toggle] = useToggle()
    const color = useColor()
    const navOpen = navState()
    useHead({
        bodyAttrs: {
            class: 'test-page'
        },
        title: 'Test Page'
    })
</script>
<style lang="scss" scoped>
.test-wrapper {
    padding: 100px;
    background-color: pink;
}
</style>