// These are imported in vue.config.js
// @import 'variables.scss';
// @import 'portfolio.scss';
// @import 'animations.scss';
// @import 'animate.scss';
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1rem 0;
  padding: 0;
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  @include regularFont;
}

h2 {
  font-size: 1.1rem;
  margin: 0;
  line-height: 1.2;
  @include mediumFont;
}

h3 {
  font-size: 1rem;
  margin: 2rem 0 0 0;
  line-height: 1.2;
  @include mediumFont;
}

p {
  line-height: 1.6;
}

a, .link {
  text-decoration: none;
  color: $linkColor;
  transition: all .3s ease-in-out;
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px 1px $linkColor;
  }
}

.container {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  &.home-page {
    padding: 0;
    background-color: $gray;
  }
}

main {
  min-height: 100vh;
  transform: initial;
  padding: 2rem;
  transition: transform .5s ease, padding .5s ease;
  min-height: 100vh;
  .nav-active & {
    transform: translateX(8.5rem);
  }
  @include breakpoint(md-down) {
    padding-left: 0;
  }
}

// This has to go here instead of Home.vue due to scope
@include breakpoint(lg) {
  .home {
    h2 span, 
    h3 span {
      border-bottom: 2px solid $colorOne;
    }
  }
}