 main.portfolio {
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 1900px;
   padding-left: $navWidth;
   margin: 0 auto;
  //  background: linear-gradient(180deg, darken($grayLightest, 8%), $grayLightest 5%, $grayLightest 100%);
   h1 {
     font-size: 6rem;
     line-height: 1.1;
     padding: 3rem 2rem 4rem 2rem;
     @include regularFont;
     text-transform: uppercase;
     color: $grayDark;
     text-align: center;
     @include breakpoint(md-down) {
       font-size: 2.5rem;
       padding: 2rem 1rem 3rem 1rem;
     }
   }
   img {
     width: 100%;
   }
   .portfolio-item {
     margin-bottom: 3rem;
     margin-left: 2rem;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     .portfolio-image {
       width: 70%;
       padding: 1rem;
       background-color: $gray;
       video {
         margin-top: 2.5rem;
         width: 100% !important;
         height: auto !important;
         background: $grayDark;    
         &:focus {
            outline: none;
          }
       }
     }
     &.photography {
        text-align: center;
        .portfolio-image {
          width: 100%;
          max-width: 1000px;
          margin: 0 auto;
          display: flex;
          align-items: center;
        }
     }
     .portfolio-info {
       width: 30%;
       padding: 1rem;
       background-color: $gray;
       color: $white;
         p {
           color: $white;
           margin-top: 0;
         }
         a {
           position: relative;
           color: $white;
           &:hover {
             border-bottom: 1px solid $linkColor;
           }
           &:before {
             font-family: fontawesome;
             content: "\f14c";
             margin-right: .2rem;
             color: $colorOne;
           }
           &.none {
             color: $grayLight;
             cursor: default;
           }
         }
     }
   }  
   @include breakpoint(lg-down) {
     padding: 4rem 0 0 0;
     .portfolio-item {
       margin: 0;
       padding: 1.5rem .3rem;
       display: block;
       .portfolio-image {
          width: 100%;
       }
       .portfolio-info {
         width: 100%;
       }
     } 
   }
 }